body {
  height: auto !important;
}

.container {
  text-align: center;
}
.pull-left {
  margin-left: 15px;
}

.loginBtn {
  color: #777;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.page {
  margin: 30px !important;
  text-align: center;
  /*height: auto !important;*/
}

.kali > h1 {
	color: #936cca;
  /*height: auto !important;*/
}

.footer {
  background-color: #936cca;
  color: #FFFFFF !important;

}

@media (min-width: 768px) {
  .loginBtn {
      display: none;
  }
  .container {
    text-align: left;
  }

}
