{% extends "base.html" %}


{%block title%}
<title>My Library</title>
{% endblock %}

{% block nav %}

{% endblock %}

{%block content%}

<div class="page">
  <div class="jumbotron" style="margin-top: 15px; padding-top: 0px; padding-bottom: 10px; margin-bottom: 10px">
      <div class="container">
        {% if current_user.is_authenticated %}
        <h2>
              Hi  {% if current_user.FBname %} {{ current_user.FBname }}
                  {% else %} {{ current_user.username }}
                  {% endif %}
        </h2>
        {% endif %}
        <h3 style="margin-top: 10px"> Here's the # of Friends you've shared with...</h3>
        <div class="row">
          <div class="col-xs-12 col-md-4 block">
            <div class="circle">
              <p>{{ FBChatCount }}</p>
            </div>
          </div>
        </div>

        <!-- <p>A friendly bot that keeps files organized 1 byte at a time.</p> -->
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Add Sources</a></p> -->
    </div>
  </div>

  <!-- <div class="jumbotron col-xs-12" style="margin-right: 3px; padding-top: 0px; padding-bottom: 10px; padding-right: 5px; padding-left: 5px;">
      <div class="col-xs-6">
        {% if current_user.is_authenticated %}
          <h3>Groups </h3>
      {% endif %}
      </div>
      <div class="col-xs-6">
        {% if current_user.is_authenticated %}
          <a href="/library/friends"><h3> Friends </h3></a>
      {% endif %}
      </div>
  </div> -->


  <div id="createDiv">

  </div>

<!-- <div id="textbox">Mary had a bigger lamb</div> -->
<!-- <div id="textbox" >Mary had a smaller lamb</div>
<button onclick="select_all_and_copy(document.getElementById('textbox'))">Copy to Clipboard</button> -->

  <script type="text/javascript" src="{{url_for('.static', filename='js/copy2clipboard.js')}}" >
  </script>
  <div class="kali">




  {% if inMessenger %}
  <div id="contextData">
    <p>
      Current PSiD: <span class="profileID"> </span>
    </p>
    <p>
      Current TiD: <span class="threadID"> </span>
    </p>
    <p>
      Current Thread Type: <span class="threadType"> </span>
    </p>
  </div>
  {% endif %}

  </div>
</div>

{% endblock %}

{% block moreScript%}

<!-- <script src="{{url_for('.static', filename='js/custom.js')}}"> -->


<script>



// ##############################################################################################################
// ##############################################################################################################


var threadIDs = {{ threadIDList|safe }};
// this creates a list of image urls (passed in from my view) and i want to add each element as a new img src in the above html

// var contentTitle = {{ titleList|safe}};
// var contentID = {{ idList|safe}};
// var contentURL = {{ urlList|safe}};
// console.log(contentID);
// console.log(contentTitle);
// console.log(contentURL);
console.log(threadIDs);
alert(threadIDs.length);
for (i = 0; i < threadIDs.length; ++i) {

    var nT = $('<div class="thumbnail"></div>');
    $('#createDiv').append(nT);
    nT.attr('id', i);
    // nT.html(contentTitle[i]);

    // var nImage = $('<img id="content-image" src=" " alt="image missing" >');
    // nImage.attr('src', imageUrls[i]);


    nT.html('<a href=/library/friends/' +(threadIDs[i]) +'><img class="getImage" src="{{url_for('.static', filename='images/icons8-Happy_100.png')}}"></a><h3 class="shareTitle">' +threadIDs[i] +'</h3>');

};

// ##############################################################################################################
// ##############################################################################################################

$(".copy-button").click(function() {
  if ($(this).text() == "Close") {
    $(this).nextAll('.copyLink').first().toggle('slow', function() {
      // Animation complete.
      });
    $(this).text("Copy Link");
    }
    else {
  $(this).nextAll('.copyLink').first().toggle('slow', function() {
    // Animation complete.
  });
  $(this).text("Close");
  // select_all_and_copy(document.getElementById('textbox'));
  // $(this).nextAll('.copyLink').first().css({'color': 'red'});
  select_all_and_copy($(this).nextAll('.copyLink').first()[0]);
  }
});

// modify this code per seabreeze computers copy 2 clipboard example...
// var $input = $(' some input/textarea ');
// $input.val(result);
// if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {
//   var el = $input.get(0);
//   var editable = el.contentEditable;
//   var readOnly = el.readOnly;
//   el.contentEditable = true;
//   el.readOnly = false;
//   var range = document.createRange();
//   range.selectNodeContents(el);
//   var sel = window.getSelection();
//   sel.removeAllRanges();
//   sel.addRange(range);
//   el.setSelectionRange(0, 999999);
//   el.contentEditable = editable;
//   el.readOnly = readOnly;
// } else {
//   $input.select();
// }
// document.execCommand('copy');
// $input.blur();



$(".share-button").click(function() {

  // var tracker = parseInt($("#tracker").text());
  // var sharingID = $(this).parent().closest("p").attr('id');
  var sharingID = $(this).prevAll('p.tracker').attr('id');
  var sharingPSID = resPSID;
  var sharingTID = resTID;
  var sharingType = resTYPE;
  // alert(sharingID);
  // alert(sharingPSID);
  // alert(sharingTID);
  // alert(sharingType);

  // alert(tracker);

  // var title = $(this).parent('.tracker').attr('id');
  var title = $(this).prevAll('h3.shareTitle').text();
  // alert(title);
  var url = $(this).prevAll('div.shareURL').text();
  // alert(url);
  var imageUrlPrimary = $(this).prevAll().find('img.getImage').attr('src');
  var imageUrlSecondary = $(this).prevAll('img.getImage').attr('src');
  // alert(imageUrlPrimary);
  // alert(imageUrlSecondary);

  var imageUrl = imageUrlPrimary;

  if (imageUrl == null){
    imageUrl = imageUrlSecondary;
    }


  alert(imageUrl + " ...using this one");
// might be a better way to ensure we select the img url correctly, regardless of positioning

  var data = {
    "file": sharingID,
    "psid": sharingPSID,
    "thread_id" : sharingTID,
    "thread_type": sharingType,
    // "image_url2": imageUrl // just console testing for messenger share
  };


  var messageToShare = {
        "attachment":{
           "type":"template",
           "payload":{
               "template_type":"generic",
               "elements": [{
                 "title": title,
                 "image_url": imageUrl,
                //  "subtitle": "On the pitch celebrations from Stanford Bridge",
                 "default_action":{
                     "type":"web_url",
                     "url": url
                   },
                   "buttons":[{
                     "type":"web_url",
                     "url":"https://www.youtube.com/results?search_query=" +title,
                     "title":"Search YouTube for More"
                   }]
               }]
           }
        }
      };


// This will send data directly to FB Messenger server
  MessengerExtensions.beginShareFlow(function success(response) {
    // Share successful
    if (response.is_sent) {

          $.ajax({
              type : "POST",
              url : "/_load_ajax",
              data: JSON.stringify(data),
              contentType: 'application/json',
              success: function(result) {
                console.log(result);
                // $("#post-success").show();
              },

              error: function(error) {
                console.log(error);
              },

          }),


          MessengerExtensions.requestCloseBrowser(function success() {


         }, function error(err) {

         });
      }
    }, function error(errorCode, errorMessage) {
    // The user was not able to share

    },
    messageToShare,
    "current_thread");

// alert("something");
});

</script>


{% endblock %}


{% block asyncScript%}


<script>
var resPSID;
var resTID;
var resTYPE;

window.extAsyncInit = function() {
  // alert("Messenger Extensions JS SDK is done loading"); #for testing on library page
  MessengerExtensions.getContext(
    '1863368713926932',
    function success(result) {
      var psid = result.psid;
      var tid = result.tid;
      var thread_type = result.thread_type;
      $('.profileID').html(psid);
      $('.threadID').html(tid);
      $('.threadType').html(thread_type);
      resPSID = psid;
      resTID = tid;
      resTYPE = thread_type;

    }, function error(result) {
      console.log(result)
    });
};
</script>
{% endblock %}
