{% extends "base.html" %}





{%block content%}


<div class="container">
  <div class="col-xs-12 jumbotron ">
      <h1> "Hi! I'm Cubert... "</h1>
        <p>A friendly bot that keeps files organized 1 byte at a time.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>

  <div class="col-xs-12 kali">
    <h1> Make File Sharing Great Again!</h1>
  </div>

  <div class="col-xs-12" >
    <img class="img-responsive" alt="qbert bot" src="{{url_for('.static', filename='images/q_bert.png')}}" />
  </div>

</div>

{% endblock %}
