{% extends "base.html" %}


{%block title%}
<title>My Library</title>
{% endblock %}


{%block content%}

<div class="page">
  <div class="jumbotron">
      <div class="container">
      <h1> "Select a file to share"</h1>
        <!-- <p>A friendly bot that keeps files organized 1 byte at a time.</p> -->
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Add Sources</a></p>
    </div>
  </div>

  <div class="kali">

    {% for list in context %}
      <div class="thumbnail">
        <div class="caption" id="shareTitle"><h3>{{ list[1] }}</h3></div>
        <span id="tracker">{{ list[0] }}</span>
          <div class="container" id="shareURL"<p style="font-size: 6px; overflow: hidden; text-overflow: ellipsis">{{ list[2] }}</p></div>
        <p><a href="#" id="share-button" class="btn btn-default" style="border-color: #936cca; color: #936cca" role="button">Share</a></p>
      </div>
    {% endfor %}

<p><a href="#" id="test-button" class="btn btn-default" style="border-color: #936cca; color: #936cca" role="button">Test Share</a></p>
<!-- <div><ul id="post-success">Was successful</ul></div> -->
<div id="contextData">
  <p>
    Current PSiD: <span class="profileID"> </span>
  </p>
  <p>
    Current TiD: <span class="threadID"> </span>
  </p>
  <p>
    Current Thread Type: <span class="threadType"> </span>
  </p>
</div>

<p><a href="#" id="close-button" class="btn btn-default" style="border-color: #936cca; color: #936cca" role="button">Close Button</a></p>

</div>

{% endblock %}

{% block moreScript%}

<!-- <script src="{{url_for('.static', filename='js/custom.js')}}"> -->


<script>
$("#share-button").click(function() {

  var tracker = parseInt($("#tracker").text());

  // alert(tracker);
  var data = { "file": tracker };

  $.ajax({
      type : "POST",
      url : "/_load_ajax",
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function(result) {
        console.log(result);
        // $("#post-success").show();
      },

      error: function(error) {
        console.log(error);
      },

  });

  var title = $("#shareTitle").text();
  var url = $("#shareURL").text();


  var messageToShare = {
        "attachment":{
           "type":"template",
           "payload":{
               "template_type":"generic",
               "elements": [{
                 "title": title,
                 "image_url": "https://i.ytimg.com/vi/JrLeyjQO560/maxresdefault.jpg",
                 "subtitle": "On the pitch celebrations from Stanford Bridge",
                 "default_action":{
                     "type":"web_url",
                     "url": url
                   },
                   "buttons":[{
                     "type":"web_url",
                     "url":"https://twitter.com/search?q=chelsea&src=typd",
                     "title":"Twitter q='Chelsea'"
                   }]
               }]
           }
        }
      };


// This will send data directly to FB Messenger server
  MessengerExtensions.beginShareFlow(function success(response) {
    // Share successful
    if (response.is_sent) {
          MessengerExtensions.requestCloseBrowser(function success() {

         }, function error(err) {

         });
      }
    }, function error(errorCode, errorMessage) {
    // The user was not able to share

    },
    messageToShare,
    "current_thread");

// alert("something");
});



</script>


<script>
$("#close-button").click(function() {

  var messageToShare = {
        "attachment":{
           "type":"template",
           "payload":{
               "template_type":"generic",
               "elements": [{
                 "title": "Chelsea FC: 2017 EPL Champions",
                 "image_url": "https://i.ytimg.com/vi/JrLeyjQO560/maxresdefault.jpg",
                 "subtitle": "On the pitch celebrations from Stanford Bridge",
                 "default_action":{
                     "type":"web_url",
                     "url": "http://www.chelseafc.com/"
                   },
                   "buttons":[{
                     "type":"web_url",
                     "url":"https://twitter.com/search?q=chelsea&src=typd",
                     "title":"Twitter q='Chelsea'"
                   }]
               }]
           }
        }
      };
// we can use ajax call to send data to our server // we can probably run this code on success reply from MesengerExtension
  // $.ajax({
  //     type : "POST",
  //     url : "/_load_ajax",
  //     data: JSON.stringify(messageToShare),
  //     contentType: 'application/json',
  //     success: function(result) {
  //       console.log(result);
  //       // $("#post-success").show();
  //     },
  //
  //     error: function(error) {
  //       console.log(error);
  //     },
  //
  // });


// This will send data directly to FB Messenger server
  MessengerExtensions.beginShareFlow(function success(response) {
    // Share successful

    if (response.is_sent) {

          MessengerExtensions.requestCloseBrowser(function success() {

         }, function error(err) {

         });
      }

    }, function error(errorCode, errorMessage) {
    // The user was not able to share

    },
    messageToShare,
    "current_thread");

// alert("something");
});


</script>


{% endblock %}

{% block asyncScript%}

<script>
window.extAsyncInit = function() {
  alert("Messenger Extensions JS SDK is done loading");
  MessengerExtensions.getContext(
    '1863368713926932',
    function success(result) {
      var psid = result.psid;
      var tid = result.tid;
      var thread_type = result.thread_type;
      $('.profileID').html(psid);
      $('.threadID').html(tid);
      $('.threadType').html(thread_type);

    }, function error(result) {
      console.log(result)
    });
};
</script>
{% endblock %}
