{% extends "base.html" %}


{%block title%}
<title>My Library</title>
{% endblock %}


{%block content%}

<div class="page">
  <div class="jumbotron">
      <div class="container">
      <h1> "Select a file to share"</h1>
        <!-- <p>A friendly bot that keeps files organized 1 byte at a time.</p> -->
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Add Sources</a></p>
    </div>
  </div>

  <div class="kali">
    {% for x, y in context.items() %}
      <div class="thumbnail">
        <div class="caption"><h3>{{ x }}</h3></div>
          <div class="container"<p style="font-size: 6px; overflow: hidden; text-overflow: ellipsis">{{ y }}</p></div>
        <p><a href="#" class="btn btn-default" style="border-color: #936cca; color: #936cca" role="button">Share</a></p>
      </div>
    {% endfor %}

<p><a href="#" id="test-button" class="btn btn-default" style="border-color: #936cca; color: #936cca" role="button">Test Share</a></p>
<!-- <div><ul id="post-success">Was successful</ul></div> -->
<div id="contextData">
  <p>
    Current PSiD: <span class="profileID"> </span>
  </p>
  <p>
    Current TiD: <span class="threadID"> </span>
  </p>
  <p>
    Current Thread Type: <span class="threadType"> </span>
  </p>
</div>
</div>

{% endblock %}

{% block moreScript%}

<script src="{{url_for('.static', filename='js/custom.js')}}">
</script>

{% endblock %}

{% block asyncScript%}

<script>
window.extAsyncInit = function() {
  alert("Messenger Extensions JS SDK is done loading");
  MessengerExtensions.getContext(
    '1863368713926932',
    function success(result) {
      var psid = result.psid;
      var tid = result.tid;
      var thread_type = result.thread_type;
      $('.profileID').html(psid);
      $('.threadID').html(tid);
      $('.threadType').html(thread_type);

    }, function error(result) {
      console.log(result)
    });
};
</script>
{% endblock %}
