
{% from "_render_field.html" import render_field %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cube bot organizes files and links you share on Facebook Messenger">
    <meta name="author" content="Inbox Cube Inc.">
    {%block title%} <title>{{ app_name }}: Your Messenger Library </title>{% endblock %}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">

  </head>
  <body class="public">

{% include "nav.html" %}

<div class="container fblogin" >
  <div class="content" >
    <div class="js-general-error alert alert-info hidden" data-error="Oops! Something went wrong, please try again or check out our testing <a href=&quot;/help/&quot;>help area</a>"></div>
    <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button> -->
    <a href="{{ FBurl }}"<button type="button" class="btn btn-primary btn-lg"  >LOG IN WITH FACEBOOK</button></a>
    <!-- <button type="button" class="btn btn-primary btn-lg" onclick="checkLoginState()"  >LOG IN WITH FACEBOOK</button> -->
    <!-- <a href="#" class="btn btn-facebook btn-block js-signup-fb" id="select-button-signup-fb">
      Sign up with Facebook
    </a> -->
    <div id="status"></div>

    <h2 class="background"><span>or</span></h2>
  </div>
</div>

<script src="{{url_for('.static', filename='js/fb_sdk.js')}}"></script>

  <div class="container">

    <form class="form col-xs-12 col-md-6 col-lg-4" method="POST" action="/login">
      {{ form.hidden_tag() }}

      <div class="heading">
        <h2 class="form-heading">Please sign in:</h2>
      </div>
      <br />

      <div class="form-group ">
        {{ render_field(form.username) }}
      </div>

      <div class="form-group">
        {{ render_field(form.password) }}
      </div>


      <div class="form-group">
        {{ form.remember.label }}
        {{ form.remember }}
      </div>

      <div id="capatcha">
        {{ form.recaptcha }}
        <p style="color:red;">
          {% for error in form.recaptcha.errors %}
            {{ error }}
          {% endfor %}
        </p>
      </div>


      <button class="btn btn-lg btn-primary btn-block " style="margin-bottom: 100px" type="submit">Sign in</button>
    </form>

  </div> <!-- /container -->
  {% include "footer.html" %}
  <script src="{{url_for('.static', filename='js/fb_login.js')}}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
  </html>
