{% extends "base.html" %}


{%block title%}
<title>What do you think?</title>
{% endblock %}

{%block moreHeadContent%}
  <link rel="stylesheet" href="{{url_for('.static', filename='css/myStarRating.css')}}" />
{% endblock %}


{% block nav %}

{% endblock %}

{%block content%}

<div class="page">
  <div class="jumbotron" style="margin-top: 10px; padding-top: 0px; padding-bottom: 0px; margin-bottom: 10px">
      <div class="container">
        {% if qbertFBName %}
        <h4 style="margin-bottom: 2px">
              Hi, it's {{ qbertFBName }}
                  {% else %} "Hey There!"

              <!-- Get FB Profile Pic  -->
        </h4>
        {% endif %}
        <h3 style="margin-top: 3px">Can I get your thoughts on this? </h3>
        <!-- <p>A friendly bot that keeps files organized 1 byte at a time.</p> -->
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Add Sources</a></p> -->
    </div>
  </div>


  {% if thoughtContentID %}
    <div id="createDiv">

      {% for content in thoughtContentID %}
      <div class="thumbnail col-xs-12" id={{ content.id }}>
        <a href=' {{ content.url }} '><img class="getImage" src="{% if content.urlImage == "generic" %}{{url_for('.static', filename='images/link_building.png')}}{% else %}{{ content.urlImage }}{% endif %}"></a>
        <h3 class="shareTitle" style="overflow: hidden; text-overflow: ellipsis;">{{ content.title | truncate(50) | safe }}</h3>
        <div class="container shareURL" id="shareURL" style="display: none"><p style="font-size: 6px; overflow: hidden; text-overflow: ellipsis">{{ content.url }}</p></div>
        <p class="tracker" id="{{ content.id }}">
          <div class="copy-button btn btn-default copyButtonStyle" role="button" id="{{ content.id }}" >Copy Link</div>
          <!-- <div class="share-button btn btn-default" style="border-color: #936cca; color: #936cca" role="button" id="{{ content.id }}">Messenger</div> -->
          <a href=' {{ content.url }} '><div class="view-button btn btn-default" style="border-color: #936cca; color: #936cca" role="button" id="{{ content.id }}">View Link</div></a>
        </p>
        <div id="TextBox{{ content.id }}" class="copyLink col-xs-10 col-xs-offset-1" style="font-size: 10px; color: #ddd; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 75ch;" >{{ content.url }}</div>
        <p id='{{ content.id }}'></p>
      </div>

      <script>
      var myContentID = '{{ content.id }}'
      var myContentTitle = '{{ content.title }}'
      </script>

      <div class="hidden col-xs-12" id="ratingRequired" >
        <p>
          Looks like you tried to sumbit without selecting your rating feedback. Please try again.
        </p>
      </div>

      {% endfor %}

      <!-- <div>

        {% if thoughtContentID.has_prev %}<a href="{{ url_for('show_thought', thoughtID=thoughtData[0], page=threadContent.prev_num) }}">&lt;&lt; Previous Page</a>{% else %}&lt;&lt; First Page{% endif %} |
        {% if thoughtContentID.has_next %}<a href="{{ url_for('show_thought', thoughtID=thoughtData[0], page=threadContent.next_num) }}"> See More &gt;&gt;</a>{% else %} Last Page &gt;&gt;{% endif %}
        <br /><br />
      </div> -->

    </div>
    {% endif %}

    <div class="RatingTitleBox col-xs-12" style="margin-bottom: 30px;">



            {% if responseString %}
              <h3>{{ responseString }}</h3>
            {% endif %}


            <div class="row">
              <div class="col-xs-12 col-lg-6 offset-lg-3">
                <h4>Your thoughts?</h4>
                <!-- <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="hateIt" value="1" style="background:rgba(255, 0, 0, 0.70); color:white">Hate it</button>
                  </span>
                  <input type="text" id="ratingText" class="form-control" placeholder="Your Thoughts?" aria-label="Product name" style="text-align: center">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="loveIt" value="5" style="background:rgba(0, 128, 0, 0.70); color:white">Love it</button>
                  </span>
                </div> -->
              </div>

              <div class="col-xs-12 col-lg-6 offset-lg-3">
                <my-star-rating value="-1" number="5" id="rating">

                </my-star-rating>
                  <script type="text/javascript" src="{{url_for('.static', filename='js/myStarRating.js')}}" >  </script>
                  <script>
                    rating.addEventListener('rate', () => {
                      console.log(rating.value);
                      if($('#ratingRequired').is(":visible")) {
                        $("#ratingRequired").toggleClass('hidden');
                      };
                    });
                  </script>
              </div>

              <div class="col-xs-12 " style="margin-top:5px">
                <button class="btn btn-default btn-block" type="button" id="submitReview">Submit</button>
              </div>

            </div>




    </div>






  <!-- <div id="createDiv_usingJS">

  </div> -->

<!-- <div id="textbox">Mary had a bigger lamb</div> -->
<!-- <div id="textbox" >Mary had a smaller lamb</div>
<button onclick="select_all_and_copy(document.getElementById('textbox'))">Copy to Clipboard</button> -->

  <script type="text/javascript" src="{{url_for('.static', filename='js/copy2clipboard.js')}}" >
  </script>
  <div class="kali">




{% if inMessenger %}
  <div id="contextData">
    <p>
      Current PSiD: <span class="profileID"> </span>
    </p>
    <p>
      Current TiD: <span class="threadID"> </span>
    </p>
    <p>
      Current Thread Type: <span class="threadType"> </span>
    </p>
  </div>
{% endif %}

  </div>
</div>

{% endblock %}

{% block moreScript%}

<!-- <script src="{{url_for('.static', filename='js/custom.js')}}"> -->



<script>

$(document).ready(function() {
  var myUserID = '{{ userID }}';
  var myReviewerID = '{{ reviewer }}';
  // var rateValue;
  var rateText = "";

  // $("#hateIt").click(function() {
  //   alert("you've selected: " +$('#hateIt').val());
  //   if($('#ratingRequired').is(":visible")) {
  //     $("#ratingRequired").toggleClass('hidden');
  //   };
  //   rateValue = $('#hateIt').val();
  //   rateText = "I hate it!";
  //   $("#ratingText").attr('placeholder', rateText);
  //   $("#ratingText").addClass('redText');
  // });
  // $("#loveIt").click(function() {
  //   alert("you've selected: " +$('#loveIt').val());
  //   if($('#ratingRequired').is(":visible")) {
  //     $("#ratingRequired").toggleClass('hidden');
  //   };
  //   rateValue = $('#loveIt').val();
  //   rateText = "I love it!";
  //   $("#ratingText").attr("placeholder", rateText);
  //   $("#ratingText").addClass('greenText');
  // });


  $("#submitReview").click(function() {
    if($('#ratingRequired').is(":visible")) {
      $("#ratingRequired").toggleClass('hidden');
    };
    // alert("submit button clicked");
    // alert(myUserID);
    // alert(rateValue);
    // alert(rateText);
    var myStarRating = rating.value;
    // alert(myStarRating);
    if (myStarRating == -1) {
      // alert("Please select star rating then press submit.");
      $("#ratingRequired").toggleClass('hidden');
      return;
    };
    // if ( typeof rateValue == 'undefined') {
    //   alert("Doh, looks like you forgot to rate it!");
    //   $("#ratingRequired").toggleClass('hidden');
    //   return;
    // };
    var contentThID = myContentID;
    // alert(contentThID);
    var friendID = myReviewerID;

    var reviewData = {
      "userID": myUserID,
      "thoughtsON": contentThID,
      "thoughtValue": myStarRating,
      "thoughtTitle": myContentTitle,
      "friend": friendID,
      // "image_url2": imageUrl // just console testing for messenger share
    };

      $.ajax({
          type : "POST",
          url : "/_load_ajax_review",
          data: JSON.stringify(reviewData),
          contentType: 'application/json',
          success: (function () {
            window.location.href = "https://4425ff68.ngrok.io";
        })
        });

    });
  });

  $(document).ajaxStop(function() {
          // place code to be executed on completion of last outstanding ajax call here
          // alert("ajax Call completed");
    });




// ##############################################################################################################
// ##############################################################################################################

//
// var imageUrls = {{ imageUrlList|safe }};
// // this creates a list of image urls (passed in from my view) and i want to add each element as a new img src in the above html
//
// var contentTitle = {{ titleList|safe}};
// var contentID = {{ idList|safe}};
// var contentURL = {{ urlList|safe}};
// console.log(contentID);
// console.log(contentTitle);
// console.log(contentURL);
// console.log(imageUrls);
//
// alert(contentID.length);
// for (i = 0; i < contentID.length; ++i) {
//
//     var nT = $('<div class="thumbnail"></div>');
//     $('#createDiv').append(nT);
//     nT.attr('id', i);
//     // nT.html(contentTitle[i]);
//
//     // var nImage = $('<img id="content-image" src=" " alt="image missing" >');
//     // nImage.attr('src', imageUrls[i]);
//
//
//     nT.html('<a href=' +(contentURL[i]) +'><img class="getImage" src=' +(imageUrls[i]) +'></a><h3 class="shareTitle">' +contentTitle[i] +'</h3>');
//
//
//     var nURL = $('<div class="container shareURL" id="shareURL"<p style="font-size: 6px; overflow: hidden; text-overflow: ellipsis">www.abc.com</p></div>');
//     // var nURL = $('<textarea class="container shareURL" id="shareURL" style="font-size: 6px; overflow: hidden; text-overflow: ellipsis">www.abc.com</textarea>');
//     nURL.html(contentURL[i]);
//     nT.append(nURL);
//
//     var nButton = $('<p class="tracker"><div class="copy-button btn btn-default" role="button">Copy Link</div> <div class="share-button btn btn-default" style="border-color: #936cca; color: #936cca" role="button">Messenger</div></p>');
//     nT.append(nButton);
//     nButton.attr('id', contentID[i]);
//
//     // var nShare = $('<input type="text" onFocus="this.selectionStart=0; this.selectionEnd=this.value.length;" onTouchEnd="this.selectionStart=0; this.selectionEnd=this.value.length;" onMouseUp="return false" class="copyLink" style="display:none" value="share link goes here" />');
//     // nShare.attr('value', contentURL[i]);
//     // nT.append(nShare);
//     var nShare = $('<input type="text" id="textbox1" class="copyLink" style="display:none" value="share link goes here" />');
//     nShare.attr('value', contentURL[i]);
//     nT.append(nShare);
// // <button onclick="select_all_and_copy(document.getElementById('textbox'))">Copy to Clipboard</button>
//
// };

// ##############################################################################################################
// ##############################################################################################################

$(".copy-button").click(function() {
// $(".copy-button").on('touchstart', function() {
  var textboxID = $(this).attr('id');
  var Box = "TextBox"+textboxID
  // var whatIWant = $(this).$('#Box')[0];
  // var getElement = document.getElementById(Box);
  // alert(whatIWant);
  // alert(getElement);
  select_all_and_copy(document.getElementById(Box));
  // alert(Box);
  // var copyThis2 = document.getElementById(textboxID);
  // alert(copyThis2);



  // $(this).css({'background': 'lightgrey'});

});


// modify this code per seabreeze computers copy 2 clipboard example...
// var $input = $(' some input/textarea ');
// $input.val(result);
// if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {
//   var el = $input.get(0);
//   var editable = el.contentEditable;
//   var readOnly = el.readOnly;
//   el.contentEditable = true;
//   el.readOnly = false;
//   var range = document.createRange();
//   range.selectNodeContents(el);
//   var sel = window.getSelection();
//   sel.removeAllRanges();
//   sel.addRange(range);
//   el.setSelectionRange(0, 999999);
//   el.contentEditable = editable;
//   el.readOnly = readOnly;
// } else {
//   $input.select();
// }
// document.execCommand('copy');
// $input.blur();



$(".share-button").click(function() {

  // var tracker = parseInt($("#tracker").text());
  // var sharingID = $(this).parent().closest("p").attr('id');
  var sharingID = $(this).prevAll('p.tracker').attr('id');
  var sharingPSID = resPSID;
  var sharingTID = resTID;
  var sharingType = resTYPE;
  // alert(sharingID);
  // alert(sharingPSID);
  // alert(sharingTID);
  // alert(sharingType);

  // alert(tracker);

  // var title = $(this).parent('.tracker').attr('id');
  var title = $(this).prevAll('h3.shareTitle').text();
  // alert(title);
  var url = $(this).prevAll('div.shareURL').text();
  // alert(url);
  var imageUrlPrimary = $(this).prevAll().find('img.getImage').attr('src');
  var imageUrlSecondary = $(this).prevAll('img.getImage').attr('src');
  // alert(imageUrlPrimary);
  // alert(imageUrlSecondary);

  var imageUrl = imageUrlPrimary;

  if (imageUrl == null){
    imageUrl = imageUrlSecondary;
    }

  if (imageUrl == "/static/images/link_building.png"){
    imageUrl = "";
    }

  alert(imageUrl + " ...using this one");
// might be a better way to ensure we select the img url correctly, regardless of positioning

  var data = {
    "file": sharingID,
    "psid": sharingPSID,
    "thread_id" : sharingTID,
    "thread_type": sharingType,
    // "image_url2": imageUrl // just console testing for messenger share
  };


  var messageToShare = {
        "attachment":{
           "type":"template",
           "payload":{
               "template_type":"generic",
               "elements": [{
                 "title": title,
                 "image_url": imageUrl,
                //  "subtitle": "On the pitch celebrations from Stanford Bridge",
                 "default_action":{
                     "type":"web_url",
                     "url": url
                   },
                   "buttons":[{
                     "type":"web_url",
                     "url":"https://www.youtube.com/results?search_query=" +title,
                     "title":"Search YouTube for More"
                   }]
               }]
           }
        }
      };


// This will send data directly to FB Messenger server
  MessengerExtensions.beginShareFlow(function success(response) {
    // Share successful
    if (response.is_sent) {

          $.ajax({
              type : "POST",
              url : "/_load_ajax",
              data: JSON.stringify(data),
              contentType: 'application/json',
              success: function(result) {
                console.log(result);
                // $("#post-success").show();
              },

              error: function(error) {
                console.log(error);
              },

          }),


          MessengerExtensions.requestCloseBrowser(function success() {


         }, function error(err) {

         });
      }
    }, function error(errorCode, errorMessage) {
    // The user was not able to share

    },
    messageToShare,
    "current_thread");

// alert("something");
});

</script>


{% endblock %}


{% block asyncScript%}


<script>
var resPSID;
var resTID;
var resTYPE;

window.extAsyncInit = function() {
  // alert("Messenger Extensions JS SDK is done loading"); #for testing on library page
  MessengerExtensions.getContext(
    '1863368713926932',
    function success(result) {
      var psid = result.psid;
      var tid = result.tid;
      var thread_type = result.thread_type;
      $('.profileID').html(psid);
      $('.threadID').html(tid);
      $('.threadType').html(thread_type);
      resPSID = psid;
      resTID = tid;
      resTYPE = thread_type;

    }, function error(result) {
      console.log(result)
    });
};
</script>
{% endblock %}
