{% extends "public_base.html" %}
{% from "_render_field.html" import render_field %}



{% block content %}
  <div class="container">

      <form class="form col-xs-12 col-md-6 col-lg-4" method="POST" action="/signup">
        {{ form.hidden_tag() }}

        <div class="heading">
          <h2 class="form-heading">Sign Up:</h2>
        </div>
        <br />

        <div class="form-group">
          {{ render_field(form.username) }}
        </div>

        <div class="form-group">
          {{ render_field(form.email) }}
        </div>

        <div class="form-group">
          {{ render_field(form.password) }}

        </div>

        <div id="capatcha">
          {{ form.recaptcha }}
          <p style="color:red;">
            {% for error in form.recaptcha.errors %}
              {{ error }}
            {% endfor %}
          </p>
        </div>


      <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 100px">Sign Up</button>
    </form>




  </div> <!-- /container -->
{% endblock %}
